@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0vh 20vh 0vh 20vh;
    max-height:min-content;
    max-width: auto;
}
#title{
    display: flex;
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    font-style: italic;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 15px;
    border: none;
    border-radius: 15px;
}
.itens-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 20px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(66, 66, 66, 0.659);
    color: white;
    height: auto;
    width: 15vh;
    cursor: pointer;
}
.itemname{
    font-family: "Indie Flower", cursive;
    font-style: italic;
}
.item img{
    height: 10vh;
    width: 9vh;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}

#buttons-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 25px;
}
.button{
    margin: 5px;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    background: none;
    color: white;
    cursor: pointer;
    margin-inline: 20px;
}