
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root{
    --header1: #92aea240;
    --header2: #000000;

    --fontprimary: #ffffffed;
}

body{
    margin: 0;
    background-image: url("img/background.png");
    background-blend-mode:screen;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-image:  linear-gradient(to right, var(--header2), var(--header1));
    z-index: 100;
    padding: 2.5vh 0vh 3.5vh 0vh;
    margin-bottom: 10%;
}

.logo{
    background-color: transparent;
    text-decoration: none;
    text-wrap: pretty;
    font-size: 30px;
    color: var(--fontprimary);
    cursor: default;
    
    margin-right: 30%;
}
.logo i{
    font-size: 25px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-wrap: pretty;
}

.navbar a.navbtn{
    position: relative;
    text-decoration: none;
    color: var(--fontprimary);
    font-size: 20px;
}
.navbar a.navbtn::before{
    background-color: var(--fontprimary);
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 2px;
    transition: 0.3s ease-in-out;
}
.navbar a.navbtn:hover::before{
    width: 100%;
    z-index: 1000;
}





footer{
    display: flex;
    background-image: linear-gradient(to right,var(--header2),var(--header1));
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    height: 3rem;
    justify-content: center;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction:row-reverse;
    text-decoration: none;
    color: var(--fontprimary);
    font-size: 14px;
    font-family: "DM Mono", monospace;
    font-weight: 300;
}
footer i{
    margin-left: 10rem;
}