@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    background-image: radial-gradient(blue, white, gray);
    background-size: cover;
    
}
h1{
    color: white;
    text-shadow: 2px rgba(0, 0, 0, 0.678);
    font-family: 'Open Sans', sans-serif;
}
p{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}
a{
    color: white;
}
.filme_container{
    background: rgb(242,242,242);
    background: radial-gradient(circle, rgba(242,242,242,0.6587009803921569) 0%, rgba(0,0,0,1) 100%);
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 6px 6px 14px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 14px 3px rgba(0,0,0,0.75);
    margin: 20px;
    height: 30%;
    width: 30%;
}
.videos{
    display: flex;
    align-items: center;
    justify-self: center;
    height: fit-content;
    width: fit-content;

}
.imagem{
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 50vh;
    border-radius: 20px;
    box-shadow: 6px 6px 14px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 6px 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 14px 3px rgba(0,0,0,0.75);
}
#container{
    display: flex;
    padding: 10px;
    margin: 0;
}
.page{
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    margin-left: 30px;
}